* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



.container {
    margin: 30px auto;
    width: 70%;
}

header {
    height: 170px;
    background-color: violet;
    margin-bottom: 30px;
}

#spotlight {
    height: 500px;
    background-color: #e1d67a;
    margin-bottom: 30px;
}

footer {
    height: 50px;
    background-color: #8701ff;
}


#container_main {
    height: 550px;
    background-color: #0186ff;
    margin-bottom: 10px;
}

.mini_header {
    height: 100px;
    background-color: #abcfe7;
    margin-bottom: 30px;
}

.sidebar {
    height: 390px;
    width: 25%;
    background-color: #abcfe7;
}

.main_content {
    height: 390px;
    width: calc(50% - 60px);
    background-color: #abcfe7;
    margin-left: 30px;
    margin-right: 30px;
}

.float_left {
    float: left;
}